li {
    font-size: 18px;
}

ul>li>ul::after {
    content: '';
    height: 20px;
    display: block;
}

a:hover, ul>li>ul>li>ul>li:hover {
    background-color: #f3acac;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

li {
    color: black;
    padding: 3px;
}

ul li:first-child, ul li:first-child a{
    color: rgb(62, 178,95);
}

.class12+.class5>a {
    color: blue;
}

[title] {
    color: blueviolet;
    font-weight: 600;
}

ul>li>ul>li:nth-child(odd) a{
    background-color: rgb(255, 242,204)
}

.lorem4 {
    text-decoration: underline;
}

ul>li>ul>li>ul li:last-child {
    font-style: italic;
}

ul>li>ul>li>ul li:first-letter {
    color:red;
    text-transform: uppercase;
}

.ul li:nth-child(3n) span{
    font-weight: 600;
}